---
import {site, config, subMenu, infoLinks} from "../consts";
import {t} from '../i18n/utils'
---

<footer class="p-4 text-sm bg-stone-700 text-stone-100">
<div>
  <ul class="m-1 flex justify-center gap-2">
  {
    subMenu.map(menuItem => (
      <li class="m-2"><a href={menuItem.href} class="hover:text-skin-activeHeader">{menuItem.name}</a></li>
    ))
  }
  </ul>
</div>
<div class="flex items-center flex-wrap justify-center mb-4">
    <div>
      <span class="cursor-default">Copyright</span>
      <i class="ri-copyright-line align-middle"></i>
      <span class="align-middle">2024</span>
      <span class="align-middle">{site.title}</span>
    </div>

    <!--<a href="/sitemap-0.xml">{t('footer.sitemap')}</a>-->
  </div>
</footer>
