---

---
<div class="flex items-center">
<button type="button" id="theme-btn" class="header-btn bg-bland-menu h-9" title="ダークモード切替" aria-label="auto" aria-live="polite">
  <i id="moon-icon" class="ri-sun-line"/>
  <i id="sun-icon" class="ri-moon-line"/>
</button>
</div>